/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
box-sizing: border-box;
margin: 2;
padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1rem;
line-height: 1;
background-color: rgb(64, 0, 241);
color: rgb(255, 255, 255);
}

.container {
max-width: 1000px;
margin: 0 auto;
padding-top: 10rem;
}

a {
text-decoration: none;
}

a:hover {
color: rgb(255, 255, 255);
}

ul {
list-style: none;
}

.btn {
display: inline-block;
background: #160d91;
color: rgb(255, 255, 255);
padding: 0.4rem 1.3rem;
font-size: 1rem;
border: none;
cursor: pointer;
margin-right: 0.5rem;
transition: opacity 0.2s ease-in;
outline: none;
}

.btn:hover {
opacity: 0.8;
}

.form-control {
display: block;
margin-top: 0.3rem;
}

.card {
padding: 1rem;
border: rgb(255, 255, 255) 1px dotted;
margin: 0.7rem 0;
}

input,
select,
textarea {
display: block;
width: 100%;
padding: 0.4rem;
font-size: 1.2rem;
border: 1px solid rgb(255, 255, 255);
margin: 1.2rem 0;
}

hr {
margin: .5rem 0;
}
